body{
	margin: 0;
	padding: 0;
}
/*GridParent*/
.main-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto auto;
}
/*GridChild*/
.navbar{
	grid-column: 1/4;
	grid-row: 1/2;
	background-color:#CC7722;
	overflow: hidden;
}
.navbar a{
	float: right;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 13px;
}
.navbar a:hover{
	background-color:#FDA172;
	color: #000;
	font-weight: bold;
	border-bottom: solid #000;
}
.banner{
	border: solid;
	grid-column: 1/4;
	grid-row: 2/3;
	background-color:#FDA172;
	padding: 100px;
	text-align: center;
	padding-top: 20px;
}
/*Topic row1 parent*/
.topic-row1{
	border: #000;
	grid-template-columns: auto auto;
	grid-column: 1/4;
	grid-row: 3/4;	
	display: grid;
	background-color:#FDA172;
	
}
/*Topic row1 child*/
.maintopic1{
	border: solid;
	text-align: center;
	padding: 200px;
}
.sidetopic1{

}


}

/*Topic row2 parent*/
.topic-row2{
	border: solid;
	grid-column: 1/4;
    grid-row: 4/5;
    display: grid;
	grid-template-columns:auto auto;
	background-color:#FDA172;
	
}
.maintopic2{
	border:solid;
	text-align: center;
	padding: 200px;

}

.footer{
	border: solid;
	grid-column: 1/4;
	grid-row: 5/6;
	background:#CC7722;
	padding: 20px;
} 




<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styleprofile.css">
</head>
<body>
	<div class="main-container">
		<div class="navbar">
			<a href="#">CONTACT</a>
			<a href="#">PORTFOLIO</a>
			<a href="#">ABOUT</a>
			<a href="#">HOME</a>
	</div>
	<div class="banner">
		nye

	</div>
	<div class="topic-row1">
		<div class="maintopic1">
			HAHAHAHAHAHHAHAHAHAHA

		</div>
		<div class="sidetopic1"></div>

		
	<div class="topic-row2">

		<div class="maintopic2">
			hatdog

		</div>
		

		<div class="footer">
			blah
		</div>




